body {
  font-family: 'Press Start 2P', cursive;
}

p, h1, h2, h3, h4, h5, li, ul, nav {
  font-family: 'Press Start 2P', cursive;
  color: white
}

.index1 {
  margin-top: 430px;
  margin-left: 50px;
}

input[type=text].enter-name {
  width: 25%;
  margin-left: 45px;
  margin-bottom: 25px;
  font-family: 'Press Start 2P', cursive;
  font-size: 100%;
}
input[type=submit].enter-name
{
  width: 25.4%;
  margin-left: 45px;
  margin-bottom: 25px;
  font-family: 'Press Start 2P', cursive;
  font-size: 100%;
  padding-bottom: 5px
}
